<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>SP24 News</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <!-- <h1>Login</h1>
        <form method="POST" action="/login" enctype="application/x-www-form-urlencoded">

            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="username" name="username" id="username"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="password" name="password" id="password"/>
            </label>
            <button class="btn btn-success w-full" type="submit">Submit</button>

        </form>
        <br>
        <a href="/register" class="btn btn-secondary w-full">Register</a> -->
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center ">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">Log In</h1>
      
                <p class="py-6">Please provide your credentials below</p>
                <a href="/register" class="btn btn-primary">Register New Account</a>

      
              </div>
            </div>
          </div>
        <form method="POST" action="/login" class="card-body w-full">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Username</span>
              </label>
              <input type="text" placeholder="username" name="username" class="input input-bordered" required />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input type="password" placeholder="password" name="password" class="input input-bordered" required />
              <label class="label">
                <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
              </label>
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-secondary">Login</button>
            </div>
          </form>

</body>

</html>