<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>SP24 News</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <form method="POST" action="/news/add" enctype="multipart/form-data">

            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="title" name="title" id="title"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="description" name="description" id="description"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="date" class="grow" placeholder="date" name="date" id="date"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="image" name="image" id="image"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <select class="select w-full max-w-xs">
                    <option disabled selected>Select Region</option>
                    <% regions.forEach((region) => {%>
                        <option value="<%=region.regionID%>"><%=region.name%></option>
                    <% })%>
                  </select>
            </label>
            <button class="btn btn-success w-full" type="submit">Submit</button>
        </form>

</body>

</html>