<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>SP24 News</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <form method="POST" action="/regions/add" enctype="application/x-www-form-urlencoded">

            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="region" name="region" id="region"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="image" name="image" id="image"/>
            </label>
            <button class="btn btn-success w-full" type="submit">Submit</button>

        </form>

</body>

</html>