<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>SP24 News</title>
</head>

<body>
    <%- include('partials/navbar') %>
        <form method="POST" action="/regions/add" enctype="application/x-www-form-urlencoded">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Name</span>
                  </label>
            <input type="text" class="input input-bordered" placeholder="name" name="name" id="name"/>

            </div>
            
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Image</span>
                  </label>
                <input type="text" class="input input-bordered" placeholder="image" name="image" id="image"/>
            </div>
            <div class="form-control mt-6">
                <button class="btn btn-secondary">Submit</button>
              </div>
        </form>

</body>

</html>