<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>SP24 News</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <h1>Register User</h1>
        <form method="POST" action="/register" enctype="application/x-www-form-urlencoded">

            <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="username" name="username" id="username"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="email" class="grow" placeholder="email" name="email" id="email"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="password" class="grow" placeholder="password" name="password" id="password"/>
            </label>
            <label class="input input-bordered flex items-center gap-2">
                <input type="password" class="grow" placeholder="password2" name="password2" id="password2"/>
            </label>
            <button class="btn btn-success w-full" type="submit">Submit</button>

        </form>

</body>

</html>